@import "src/styles/index";

$height: 165px;
$width: 120px;

.load-file {
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  width: $width;
  height: $height;
  border-radius: 10px;
  border: 2px dashed black;
  padding: 3px;
  cursor: pointer;

  &:hover {
    border-color: white;
    background: linear-gradient($color-white, $color-white) padding-box, $color-gradient-outlined border-box;

    .load-file__buttons-wrapper {
      display: flex;
      z-index: 2;
    }
  }

  &_in-progress {
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      display: block;
      pointer-events: none;
      background: rgba(255, 255, 255, 0.6);
      z-index: 1;
    }

    .load-file__progress-indicator{
      position: absolute;
      width: 0;
      height: 3px;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: $color-yellow;
    }
  }

  .load-file__buttons-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    flex-direction: column;
    gap: 22px;
    transform: translate(-50%, -50%);

    .load-file__button {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .uploaded-img {
    max-height: calc(100% - 1px);
    max-width: calc(100% - 0.5px);
    margin: auto;
    object-fit: contain;
  }

  .load-file__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .upload-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .load-file__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 100%;
    padding: 0;

    .load-file__label {
      font: $font-regular-12;
      font-weight: 700;
      text-align: center;
      word-break: break-word;
    }

    .load-file__img {
      width: 24px;
      height: 24px;
    }

    .load-file__background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 100%;
      border: none;
      background-color: transparent;
      border-radius: 10px;
    }
  }
}

.uploaded-file-container {
  position: relative;
  width: $width;
  height: $height;
  border: 2px solid $color-grey-400;
  border-radius: 0px;

  &:hover {
    border: 2px solid $color-grey-400;
  }
}
