@import "src/styles/index";

.select-wrapper {
  position: relative;
  width: 100%;

  .select-wrapper__placeholder {
    position: absolute;
    top: 0;
    transition: all .3s ease;
    padding: 0;
    margin: 0;
    pointer-events: none;
    font: $font-regular-16;
    color: $color-grey-500;

    &_active {
      top: -22px;
      font: $font-regular-12;
    }
  }

  .select-container {
    cursor: pointer;
    font: $font-regular-16;

    .select__loading-text {
      font: $font-regular-16;
    }

    .select__control {
      border: none;
      border-radius: 0;
      border-bottom: 2px solid $color-black;
      box-shadow: none;
      max-height: 31px;
      min-height: 20px;
      padding-bottom: 6px;
      background: transparent;
      font: inherit;

      &:hover {
        border-color: $color-black;
      }

      .select__value-container {
        padding: 0;

        .select__input-container {
          margin: 0;
          padding: 0;
          height: 20px;
        }

        .select__placeholder {
          display: none;
        }
      }

      &--menu-is-open {
        position: relative;

        .select__indicators {

          .select__dropdown-indicator {
            transform: rotateX(180deg);
            color: $color-black;
          }
        }
      }

      &--has-value {

      }
    }

    .select__indicators {
      .select__indicator-separator {
        display: none;
      }

      .select__dropdown-indicator {
        padding: 0;
        color: $color-black;
      }
    }

    &_async {
      .select__indicators {
        display: none;

        .select__indicator-separator {
          display: none;
        }

        .select__dropdown-indicator {
          padding: 0;
          color: $color-black;
        }
      }
    }
  }


}

.select__option {
  font: $font-regular-16;
}

@media (max-width: $media-max-width-md) {
  .select-wrapper {
    .select-wrapper__placeholder {
      position: absolute;
      top: 0;
      transition: all .3s ease;
      font: $font-regular-12;
      color: $color-grey-500;

      &_active {
        top: -22px;
        font: $font-regular-12;
      }
    }

    .select-container {
      font: $font-regular-12;
    }

    .select__menu-portal {
      .select__menu {
        .select__menu-list {
          .select__option {
            font: $font-regular-12;
          }
        }
      }
    }
  }
}
