@import "src/styles/index";

.select-container {
  cursor: pointer;
  font: $font-regular-16;

  .select__menu-portal {
    font: $font-regular-10;
  }

  .select__control {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $color-black;
    box-shadow: none;
    max-height: 31px;
    min-height: 0;
    padding-bottom: 6px;
    background: transparent;
    font: inherit;

    &:hover {
      border-color: $color-black;
    }

    .select__value-container {
      padding: 0;

      .select__input-container {
        margin: 0;
        padding: 0;
      }
    }

    &--menu-is-open {
      .select__indicators {
        .select__dropdown-indicator {
          transform: rotateX(180deg);
          color: $color-black;
        }
      }
    }
  }

  .select__indicators {
    .select__indicator-separator {
      display: none;
    }

    .select__dropdown-indicator {
      padding: 0;
      color: $color-black;
    }
  }
}
