@font-face {
  font-family: e_Ukraine_Regular;
  src: url(src/assets/fonts/e-Ukraine-Regular.otf) format("opentype");
}

@font-face {
  font-family: e_Ukraine_Bold;
  src: url(src/assets/fonts/e-Ukraine-Bold.otf) format("opentype");
}

@font-face {
  font-family: e_UkraineHead;
  src: url(src/assets/fonts/e-UkraineHead-Regular.otf) format("opentype");
}
