* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;

  font-family: e_Ukraine_Regular, sans-serif;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: e_Ukraine_Regular, sans-serif;
  font: inherit;
}

a {
  text-decoration: none;
}
