@import "variables";
@import "fonts";

@mixin common-text-rules {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: break-word;
  word-wrap: break-word;
  line-height: 130%;
  font: inherit;
  font-family: e_Ukraine_Regular, sans-serif;
}

.field-error-message {
  position: absolute;
  bottom: -15px;
  color: $color-red-500;
  font-size: 10px;
  line-height: 14px;
}
