@import "styles/index";

.title {
  line-height: 20px;
  &_size_10 {
    font: $font-regular-10;
  }
  &_size_12 {
    font: $font-regular-12;
  }
  &_size_14 {
    font: $font-regular-14;
  }
  &_size_16 {
    font: $font-regular-16;
  }
  &_size_20 {
    font: $font-regular-20;
  }
  &_size_24 {
    font: $font-regular-24;
  }
  &_size_32 {
    font: $font-regular-32;
  }
  &_size_36 {
    font: $font-regular-36;
  }
  &_size_48 {
    font: $font-regular-48;
  }
  &_weight_700 {
    font-weight: 700;
  }
}
