@import "src/styles/index";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: #F5F5F5;

  .modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    box-sizing: border-box;
  }

  .modal__title {
    margin: 0;
  }

  .modal__controls {
    display: flex;
    gap: 20px;
  }

  .modal__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: 0;
  }
}

@media (max-width: $media-max-width-md) {
  .modal {
    .modal__content {
      padding: 40px 20px;
    }

    .modal__controls {
      display: flex;
      gap: 5px;
      justify-content: space-between;
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(20px);
  transition: all 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(20px);
}
