@import "src/styles/fonts";
@import "src/styles/variables";

@font-face {
  font-family: e_Ukraine_Regular;
  src: url(../../assets/fonts/e-Ukraine-Regular.otf) format("opentype");
}

@font-face {
  font-family: e_Ukraine_Bold;
  src: url(../../assets/fonts/e-Ukraine-Bold.otf) format("opentype");
}

@font-face {
  font-family: e_UkraineHead;
  src: url(../../assets/fonts/e-UkraineHead-Regular.otf) format("opentype");
}

.status {
  display: none;
  height: 18px;
  padding: 2px 4px;
  max-width: max-content;
  font: $font-regular-12;
  color: $color-white;
  text-transform: uppercase;
  word-break: keep-all;

  &_received {
    display: inline-block;
    background: $color-green-status;
  }

  &_canceled {
    display: inline-block;
    background: $color-red-500;
  }

  &_ordered {
    display: inline-block;
    background: $color-yellow;
    color: $color-black;
  }

  &_draft {
    display: inline-block;
    color: $color-black;
    background: #dadada;
  }

  &_annul {
    display: inline-block;
    background: $color-grey-700;
  }

  &_passed {
    display: inline-block;
    color: $color-black;
    background: $color-blue-status;
  }

  &_not-passed {
    display: inline-block;
    color: $color-black;
    background: $color-red-100;
  }
}
