@import "src/styles/index";

.status {
  display: none;
  height: 18px;
  padding: 2px 4px;
  max-width: max-content;
  font: $font-regular-12;
  color: $color-white;
  text-transform: uppercase;
  word-break: keep-all;

  h3 {
    @include common-text-rules;
  }

  &_received {
    display: inline-block;
    background: $color-green-450;
  }

  &_canceled {
    display: inline-block;
    background: $color-red-500;
  }

  &_ordered {
    display: inline-block;
    background: $color-yellow;
    color: $color-black;
  }

  &_draft {
    display: inline-block;
    color: $color-black;
    background: #dadada;
  }

  &_annul {
    display: inline-block;
    background: $color-grey-700;
  }

  &_passed {
    display: inline-block;
    color: $color-black;
    background: $color-blue-400;
  }

  &_not-passed {
    display: inline-block;
    color: $color-black;
    background: $color-red-100;
  }
}
