$color_main_bg: #F5F5F5;
$color-white: #FFFFFF;
$color-black: #000000;

$color-green-200: #ECF8ED;
$color-green-300: #C6E9CA;
$color-green-400: #8ED395;
$color-green-500: #42B64E;
$color-green-600: #35923E;
$color-green-700: #286D2F;
$color-green-800: #143717;

$color-grey-300: #E7EEF3;
$color-grey-400: #D0D6DB;
$color-grey-500: #8B9094;
$color-grey-600: #5C5F61;
$color-grey-700: #464849;

$color-yellow: #FFD600;
$color-yellow-50: #FFF4D7;

$color-red-100: #FEECEB;
$color-red-200: #FCC7C3;
$color-red-300: #F88E86;
$color-red-400: #F6695E;
$color-red-500: #F44336;


$color-gradient-outlined: linear-gradient(to right, #C3AAB2, #99EECC, #80C0C8, #4B8BFA);
$color-gradient-hover: linear-gradient(68.94deg, #C3AAB2 -4.77%, #99EECC 46.72%, #80C0C8 90.23%, #4B8BFA 134.46%);
$color-gradient-3: linear-gradient(68.94deg, #6372FF -4.77%, #925182 46.72%, #B19956 90.23%, #D97D34 134.46%);
$color-gradint-4: linear-gradient(180deg, #B9D19E 0%, #ECAAAF 26.04%, #9889DB 50.52%, #757AED 68.75%, #2833D1 100%);

$transition-duration: .4s;

$font-h1: normal 700 36px e_UkraineHead, sans-serif;
$font-h2: normal 700 32px e_UkraineHead, sans-serif;
$font-h3: normal 700 24px e_UkraineHead, sans-serif;
$font-h4: normal 700 20px e_UkraineHead, sans-serif;
$font-h5: normal 700 16px e_UkraineHead, sans-serif;
$font-h6: normal 700 14px e_UkraineHead, sans-serif;

$font-bold-36: normal 700 36px e_Ukraine_Bold, sans-serif;
$font-bold-32: normal 700 32px e_Ukraine_Bold, sans-serif;
$font-bold-24: normal 700 24px e_Ukraine_Bold, sans-serif;
$font-bold-20: normal 700 20px e_Ukraine_Bold, sans-serif;
$font-bold-16: normal 700 16px e_Ukraine_Bold, sans-serif;
$font-bold-14: normal 700 14px e_Ukraine_Bold, sans-serif;
$font-bold-12: normal 700 12px e_Ukraine_Bold, sans-serif;

$font-regular-48: normal 400 48px e_Ukraine_Regular, sans-serif;
$font-regular-36: normal 400 36px e_Ukraine_Regular, sans-serif;
$font-regular-32: normal 400 32px e_Ukraine_Regular, sans-serif;
$font-regular-24: normal 400 24px e_Ukraine_Regular, sans-serif;
$font-regular-20: normal 400 20px e_Ukraine_Regular, sans-serif;
$font-regular-16: normal 400 16px e_Ukraine_Regular, sans-serif;
$font-regular-14: normal 400 14px e_Ukraine_Regular, sans-serif;
$font-regular-12: normal 400 12px e_Ukraine_Regular, sans-serif;
$font-regular-10: normal 400 10px e_Ukraine_Regular, sans-serif;

$font-docs-24: normal 700 24px "Times New Roman", sans-serif;

$max-page-width: 1440px;
$max-header-height: 85px;

$media-max-width-md: 991px;
$media-max-width-lg: 1303px;
